.div1{
border:1px solid red;
padding: 25px 50px 30px 70px;
}

#margin{

/* margin: 10px 30px 50px 80px; */
/* margin-top:-10px; negative margin is allowed
margin-bottom:30px;
margin-left:50px;
margin-right:80px; */

width: 200px;
margin: 20px auto;

}
body{
    border:5px dotted black;
}