div{
    border:1px solid green;
    background-color:greenyellow;
    width: 500px;
    margin:100px;
    padding:20px;
    box-shadow: 10px 10px 10px 10px red inset,-10px -10px 10px 10px green inset;  ;
}