#img1{
    filter:blur(10px);
}
#img2{
    filter:brightness(50%);
}
#img3{
    filter: contrast(190%);
}
#img4{
   filter: drop-shadow(10px 10px 10px  red); /*you can also use box-shadow instead*/
}
#img5{
    filter:grayscale(100%);
}
#img6{
    filter:hue-rotate(90deg); /*deg because hue is a wheel of colors and at 90 degree in that wheel color is green */
}
#img7{
    filter:invert(100%) ;
}

#img8{
    filter:opacity(60%) ;
}
#img9{
    filter:saturate(30%);
}
#img10{
    filter: brightness(50%) contrast(50%)drop-shadow(10px 10px 10px red);
    
}