.flex-container{
    background-color: red;
    display: flex;
    flex-flow: row wrap ;  
    flex-wrap: wrap;
    height: 70vh;

    /* to center a div do following:- */
    justify-content: center;
    align-items:center;
   

   

}
.flex-child{
background-color: wheat;
margin:20px;
padding:20px;
width:100px;
text-align: center;
}

/*changing order of child elements*/
#One{
order:2
}
#Two{
    order:3

}
#Three{
    order:1

}