.flex-container{
    background-color: red;
    display: flex;
    /* flex-wrap: wrap; */
  


}
.flex-child{
background-color: wheat;
margin:20px;
padding:20px;
width:100px;
text-align: center;

}

/* notes
1.flex-shrink:
-> suppose agar flexbox div ke andar bahut sare child div hai suppose 8 to sare ek hi row me aaenge agar flex-wrap: wrap nahi hai to .Isse hota ye hai ki agr humne apne child divs ko koi width di bhi hogi to flexbox sare child divs ko ek line me lane ke chhakar me width ghatane lagega to flex-shrink ye batata hai ki kon se item ko jyada ghatana hai jab humare pas space na ho to

*/ 


#One{
flex-shrink: 3;

}
#Two{
 

    flex-shrink: 2;
}

